        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        System information
                    </a>
                </li>
                <li>
                    <a href="#">LS hardware</a>
                </li>
                <li>
                    <a href="#">Dmidecode</a>
                </li>
                <li>
                    <a href="#">Hwinfo</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


